.screen-container {
  background-image: url("/public/assets/bg_main.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;

  font-family: "Lilita One", serif;

  .screen-center {
    display: flex;
    align-items: center;
    .screen-slogan {
      font-size: 80px;
      color: white;
      width: 50%;
      display: flex;
      justify-content: center;
    }
    .screen-modes {
      font-size: 48px;
      color: white;
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  .screen-void {
    width: 80px;
  }
}
