@charset "UTF-8";
.screen-container {
  background-image: url("/public/assets/bg_main.png");
  background-position: center;
  background-size: contain;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  text-shadow: #000000 3px 5px 2px;
}
.screen-container .screen-center {
  display: flex;
  align-items: center;
}
.screen-container .screen-center .screen-slogan {
  font-size: 80px;
  color: white;
  width: 50%;
  display: flex;
  justify-content: center;
}
.screen-container .screen-center .screen-modes {
  font-size: 48px;
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-title {
  font-size: 110px;
  color: white;
  text-align: left;
  margin: 20px 50px 0px 50px;
  padding: 0 0 40px 0;
  border-bottom: 3px solid yellow;
  height: 100px;
  position: relative;
}

.screen-version {
  font-size: 24px;
  color: white;
  position: relative;
  top: -50px;
  text-align: right;
  margin: 0 50px 0 0;
}

.screen-mode-selector {
  border: 3px solid white;
  font-size: 48px;
  color: white;
  width: 421px;
  padding: 20px;
  margin: 15px 0;
  border-radius: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  box-shadow: 8px 8px 10px 0px rgb(0, 0, 0);
}
.screen-mode-selector:hover {
  background: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}

.screen-container {
  background-image: url("/public/assets/bg_main.png");
  background-position: center;
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.screen-container .screen-center {
  display: flex;
  align-items: center;
}
.screen-container .screen-center .screen-slogan {
  font-size: 80px;
  color: white;
  width: 50%;
  display: flex;
  justify-content: center;
}
.screen-container .screen-center .screen-modes {
  font-size: 48px;
  color: white;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.screen-container .screen-void {
  width: 80px;
}

.screen-theme-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 30px auto;
  gap: 20px;
}

.scene-rules {
  font-size: 60px;
  color: white;
  text-align: center;
}

button {
  width: 50px;
}

.screen-theme-selector {
  border: 3px solid white;
  font-size: 48px;
  color: white;
  width: 421px;
  padding: 20px;
  margin: 15px 0;
  border-radius: 50px;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-shadow: #000000 3px 5px 2px;
  box-shadow: 8px 8px 10px 0px rgb(0, 0, 0);
}
.screen-theme-selector:hover {
  opacity: 0.8;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

.screen-container-battle {
  background-image: url("/public/assets/bg_selector_battle_solo.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  color: white;
  text-shadow: #000000 3px 5px 2px;
}

.screen-question {
  font-size: 42px;
  color: white;
  margin: 50px auto;
}

.screen-infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px 50px 0 50px;
}
.screen-infos .screen-audio {
  width: 60px;
  height: 60px;
  background: white;
  border-radius: 30px;
  cursor: pointer;
}
.screen-infos .screen-audio:hover {
  background: rgba(61, 182, 5, 0.816);
  transform: scale(1.1);
}
.screen-infos .screen-level {
  font-size: 36px;
  color: white;
  width: 33%;
}
.screen-infos .screen-progression {
  font-size: 36px;
  width: 33%;
  text-align: right;
}

.screen-form-container {
  display: flex;
  position: relative;
}

.screen-answers-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 30px auto;
  gap: 80px;
}
.screen-answers-container .screen-answers {
  font-size: 36px;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 3px solid white;
  padding: 20px;
  border-radius: 50px;
  width: 350px;
  height: 110px;
  background: rgba(0, 0, 0, 0.5);
  transition: background-color 0.3s ease;
}
.screen-answers-container .screen-answers:hover {
  opacity: 0.8;
  cursor: pointer;
}
.screen-answers-container .radio-input {
  display: none; /* Masque le bouton radio */
}
.screen-answers-container .custom-radio-label {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.screen-answers-container .custom-radio-label:hover .screen-answers {
  background-color: rgb(255, 221, 49);
}
.screen-answers-container .radio-input:checked + .screen-answers {
  background-color: #234bcf; /* Couleur de fond lorsque sélectionné */
  border-color: #ffffff; /* Bordure bleu lorsqu'une réponse est sélectionnée */
  color: rgb(255, 221, 49);
}

.screen-result {
  color: rgb(255, 255, 255);
  border-bottom: 5px solid white;
  border-top: 5px solid white;
  padding: 20px;
  width: 100vw;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
}
.screen-result .result {
  margin: 20px;
}
.screen-result .bool {
  font-size: 70px;
}
.screen-result .score {
  font-size: 40px;
}
.screen-result .next {
  border: 3px solid white;
  width: 250px;
  font-size: 30px;
  padding: 10px;
  text-align: center;
  border-radius: 20px;
}
.screen-result .next:hover {
  border: 1px solid black;
  color: black;
}

#right {
  background: rgba(12, 144, 10, 0.9);
}

#wrong {
  background: rgba(144, 10, 10, 0.9);
}

html {
  overflow: hidden;
}

body {
  margin: 0;
  font-family: "Lilita One", serif;
}/*# sourceMappingURL=index.css.map */